In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("scraping_assignment.ipynb")

In [ ]:
from bs4 import BeautifulSoup
import requests
import numpy as np

## 1. Get the full names of 5 star rating books in the first page.

Check this site [https://books.toscrape.com/catalogue/page-1.html](https://books.toscrape.com/catalogue/page-1.html).

This is just the first page, and there are exactly 50 pages like this, you can just change `page-1` to `page-2` and so on. 

For this first question, Just get the names of books from `page-1` which got 5 star rating, as a list.  Names should be full. Find `img` tag for each book by inspecting the corresponding part in page, and check for full name of the book in the `alt` attribute of `img` tag.

In [ ]:
def get_5star_books(url):









    ...


url = 'https://books.toscrape.com/catalogue/page-1.html'

fivestar_books = get_5star_books(url)

print(fivestar_books)

In [ ]:
grader.check("q1")

## 2. Combined prices of All Saga books available in the chart

Now Iterate over all 50 pages available to find books from Saga series. There are Saga 1,2,3,5,6 volumes available in the site. These you can get my matching pattern from the titles. Get the total prices of those five books. Return the float value (round nearest to two decimal points) and Don't change the currency

In [ ]:
def calculate_price_saga(pattern):







    ...


pattern = 'Saga, Volume'

total_price = calculate_price_saga(pattern)

print(total_price)

In [ ]:
grader.check("q2")

## 3. Convert the above price to Dollars using given API

Convert `total_price` to dollars using the given API. Pass the `total_price` to `pounds` as attribute in `params` for `requests.get`. Return float value, rounding to nearest two decimal points

In [ ]:
# http://127.0.0.1:5000/convert?pounds=10

api_url = 'http://127.0.0.1:5000/convert'



print(price_in_dollars)

In [ ]:
grader.check("q3")

## NOTE: Q 4, 5, & 6
Check this site https://www.boxofficemojo.com/chart/top_lifetime_gross/ . For questions 4, 5, & 6, focus on the domestic only. Don't change to international.

There are multiple pages, and you can use `params` argument in the `requests.get` to move across the pages, as discusssed in the lab

## 4. List the movies in top 200 that released in or after 2020

For this question, just focus on the first page, which has top 200 (you dont have to pass any headers or params) and get the movie names released in or after 2020, as a list.

In [ ]:
def get_movies(url, req_year):










    ...


url = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/'
year = 2020

movies_list = get_movies(url, year)

print(movies_list)

In [ ]:
grader.check("q4")

## 5. List the Terminator movies present in the chart

Now Iterate over all 1000 movies available to find Terminator movies in the chart. These you can get my matching pattern from the titles. Get the list of Terminator movies present, as a list. [ Hint: Just movies which has the word `terminator` present in the title (case insensitive).]

In [ ]:
def get_movies_pattern(pattern):










    ...


pattern = 'terminator'

terminator_movies_list = get_movies_pattern(pattern)

print(terminator_movies_list)

In [ ]:
grader.check("q5")

## Question 6 

Calculate the combined gross of all 4 Avengers Movies (Domestic Only)

In [ ]:
import re

def calculate_netgross_pattern(pattern):















    ...



pattern = 'avengers'

avengers_gross = calculate_netgross_pattern(pattern)

print(avengers_gross)

In [ ]:
grader.check("q6")

## Question 7. 

Get the companies belonging to "Oil and gas" industry out of the set of 50 largest companies on this [wikipedia page](https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue):

In [ ]:

def get_companies(url, industry):









url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
industry = 'Oil and gas'

companies_list = get_companies(url, industry)
print(companies_list)

In [ ]:
grader.check("q7")